<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1><%- markdownWiki.title %></h1>
        <a href="/wikis/<%= markdownWiki.id %>/edit", class="btn btn-warning">Edit</a>
        <% if(currentUser && currentUser.isAdmin()) { %>
          <form style="display:initial" action="/wikis/:id/destroy" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        <% } %>

      <p><%- markdownWiki.body %></p>

      <% if(markdownWiki.private == true) { %> 
      <div>
        <a href="<%= markdownWiki.id %>/collaborators", class="btn btn-success">Add Collaborators</a>
      </div>
      <% } %>

      <div>
        <ul class="list-group">

          <% collaborators.forEach((collaborator) => { %>

          <li class="list-group-item">
              <p><%= collaborator.userId %></p>
          </li>
          <% }) %>
      </ul>
      </div>

      
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>