<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1><%- markdownWiki.title %></h1>
        <% if(currentUser && currentUser.isAdmin()) { %>
          <form style="display:initial" action="/wikis/:id/destroy" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        <% } %>

      <p><%- markdownWiki.body %></p>
      <a href="/wikis/<%= markdownWiki.id %>/edit", class="btn btn-warning">Edit</a>

      <% if(markdownWiki.private == true) { %> 
      <div>
        <a href="<%= markdownWiki.id %>/collaborators", class="btn btn-success">Add Collaborators</a>
      </div>
      <% } %>

      <% if(markdownWiki.private == true) { %> 
      <div>
        <h3>Current Collaborators</h3>
          <table>
            <tr class="text-center">
              <th>User Id</th>
              <th>Remove</th>
            </tr>
            <% markdownWiki.collaborators.forEach((collaborator) => { %>
              <tr>
                <td class="text-center"><%= collaborator.userId %></td>
                <td class="text-center">
                  <form method="POST" action="/wikis/<%= markdownWiki.id %>/collaborators/<%= collaborator.id %>/destroy">
                    <input type="submit" value="Remove Access" class="btn btn-danger text-center">
                  </form>
                </td> 
              </tr>
              <% }) %>
          </table>

      </div>
      <% } %>
      
      
      
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>